# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
dist-ssr
build/
out/
*.local

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
